# cmake output dir
build/
out/

# all log files
*.log

# visual studio clutter
.vs
.vscode
_ReSharper*
*.sdf
*.suo
*.dir
*.vcxproj*
*.sln
CMakeSettings.json
Win32
x64
Debug
Release
MinSizeRel
RelWithDebInfo
*.opensdf

# cmake clutter
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
cmake_install.cmake
cmake_uninstall.cmake